body {
    background: rgba(39, 164, 175, 0.37);
}

main {
    width: 100%;
    background: rgba(255, 0, 0, 0);
    position: absolute;
}

#header {
    font-size: 50px;
    font-family: 'Roboto Slab';
    color: #41a2b9;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

input[type=url] {
    background: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
}
#canvas {
    background: #ffffff;
    height: 98vh;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.sprite {
    height: 100px;
    width: 100px;
    margin: -50px;
    position: absolute;
}
#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

